a:link {
  color: red;
  text-decoration: none;
}

a:visited {
  color: red;
}

a:hover {
  color: white;
}

a:active {
  color: gray;
} 

body {
  background-color: #000000;
  color: #FFFFFF;
  align: center;
}

/* For mobile phones: */
[class*="page"] {
  width: 100%;
  font-size: 4vw;
}

@media only screen and (min-width: 1000px) {
  /* For desktop: */
  .page {
    width: 50%;
	font-size: 3vw;
  }
  .section {
    font-size: 1vw; 
  } 
}

.page { 
  background-color: #111111;
  
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.links {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}

.section-title {
  background-color: #000000;
  color: #FF0000;
   
  margin: 0px;
  border: 0px;
  padding: 20px;
}

.separator {
  background-color: #000000;
  color: #FF0000;
}

.section {
  background-color: #111111;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  
  margin: 0px;
  border: 0px;
  padding: 20px;
}

p {
  text-align: justify;
}
