body {
    background-color: #1c1c1c;
    color: #e5ddc9;
    font-family: 'Roboto', Arial, sans-serif;
}

a:link {
    color: #a8c7bf;
}

a:visited {
    color: #eecc7a;
}

a:hover {
    color: #e37850;
}

a:active {
    color: #d54a49;
}

h1,
p {
    text-align: center;
}

#bar {
    background-color: #eecc7a;
    color: #1c1c1c; 
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 80%;
    margin: 0 auto;
}

#logo {
    height: 100%;
}

#middle {
    background-color: #d54a49;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bottom {
    background-color: #a8c7bf;
    color: #1c1c1c;
}

.colored {
    font-size: 36px;
}